// Контакты футер
.address,
&__link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--brand-color-white);
    font-style: normal;


&__street {
    margin-bottom: 5px;
}

&__link {
    text-decoration: none;
    display: block;
    color: var(--brand-color-address);
    transition: color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing-function);
}

&__link:first-child {
    margin-bottom: 5px;
}

&__link:hover,
&__link:focus {
    color: var(--brand-color-blue-light);
}
}