.personal-cards__section {
    background: var(--brand-color-gray-light);
}

.personal-cards {
    display: flex;
    list-style: none;
}

.personal-cards__item {

    background-color: var(--brand-color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.personal-cards__item+.personal-cards__item {
    margin-left: 30px;
}